body {
  background-color: black;
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url("assets/Argentina-canada-flags-half-flipped.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

#redBox {
  border: 0.2em solid red;
  width: 260px;
  height: 260px;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(0,0,0,0.75);
  margin: auto;
  padding: 0.5em;
  margin-top: 2.5em;
}

section {
  background-color: rgba(0,0,0,0.75);
  border: 0.15em solid red;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 20px;
  padding: 1em;
  line-height: 2em;
  text-align: center;
  color: rgba(255,50,50,1);
}

header > h2 {
  margin-top: 3em;
  margin-bottom: 2em;
  color: rgba(255,50,50,1);
  text-align: center;
  font-size: 2em;
}

h1 {
  text-align: center;
  color: rgba(255,50,50,1);
  font-size: 1.5em;
}