body {
  background-color: black;
}

#contenedorTarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #bebbbb;
  border: 2px solid #ffffff;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  width: 250px;
  border-radius: 30px;
  text-align: center;
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
